.lines {
  width: 100%;
  padding-top: 200vh;
  padding-bottom: 500vh;
  margin-bottom: 100vh;
  // border: 1px solid blue;
}

.lines__container {
  opacity: 0;
  position: relative;
  top: 50px;
  left: 20px;

  .text-big {
    position: absolute;

    opacity: 0.05;
    font-size: 80px;
  }
}
