.lines {
  width: 100%;
  padding-top: 200vh;
  padding-bottom: 200vh;
  position: relative;
  margin-bottom: 100vh;
  // border: 1px solid blue;
  .moon__container {
    img {
      margin-left: 80vw;
      width: 40px;
      opacity: 1;
    }
  }
  .rain {
    display: none;
  }
  .rain-1 {
    position: absolute;
    top: 180vh;
    left: 30px;
  }
  .rain-2 {
    position: absolute;
    top: 220vh;
    left: 70vw;
  }
  .rain-3 {
    position: absolute;
    top: 350vh;
    left: 7vw;
  }

  .text-big {
    font-size: 40px;
    opacity: 0.8;
    font-size: 80px;
  }

  .text-1 {
    margin-top: 0vh;
    // text-align: center;
    span {
      margin-left: 55px;
    }
  }
  .text-2 {
    margin-top: 120vh;
    opacity: 0.7;
    span {
      margin-left: 205px;
    }
  }

  .text-3 {
    margin-top: 160vh;

    span {
      margin-left: 205px;
    }
  }

  .text-4 {
    margin-top: 90vh;
  }

  .text-5 {
    margin-top: 95vh;
  }
  .rain {
    line {
      stroke: #fff;
    }
  }
}
