.particules {
  position: relative;
  width: 100%;

  svg {
    height: auto !important;
  }
  .text-beau {
    color: $pink;
  }
  .coming {
    color: $pink;
    font-size: 10vw;
  }
  .place {
    margin-top: 70vh;
    color: $pink;

    font-size: 10vw;
  }
  .lips {
    color: $pink;
    font-size: 6vw;
    margin-top: 70vh;
    margin-left: 50vw;
  }
  .kiss {
    margin-top: 70vh;
    color: $pink;
    font-size: 180px;
  }

  #kiss-1 {
    margin-top: 0;
    transform: rotate(-2deg);
  }
}
