.sea {
  width: 100%;
  .kill-wrapper {
    margin-left: 150px;
    background-image: url("/assets/img/sea-bg.svg");
    background-size: 100vw;
    background-repeat: repeat-x;
    background-position-x: 0;
    background-position-y: 78%;

    height: 100px;
    background-clip: text;
    -webkit-background-clip: text;
    p {
      color: transparent;
    }
  }
  .text-sea {
    margin-top: 90vh;
    font-family: "Dot";
    font-size: 180px;
    color: $blue;
    text-align: right;
    // margin-left: 50vh;
  }
  .whale__wrapper {
    margin-top: 20vh;
    margin-bottom: 80vh;
    svg {
      height: 200vh;
      #closed-mouth-path {
        opacity: 0;
      }
      #path {
        fill: transparent;
      }
      .text-whale__wrapper {
        transform-origin: center;
        .text-whale {
          fill: #a3dae3;
        }
      }
    }
  }
}
