.sea {
  width: 100%;
  // border: 1px solid blue;
  .whale__wrapper {
    margin-top: 200vh;
    margin-bottom: 80vh;
    svg {
      height: 200vh;
      #closed-mouth-path {
        opacity: 0;
      }
      #path {
        fill: transparent;
      }
      .text-whale__wrapper {
        transform-origin: center;
        .text-whale {
          fill: #a3dae3;
        }
      }
    }
  }
}

.across__container {
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  .text-sea {
    color: #fc00bd;
    position: absolute;
    font-size: 20vw;
    line-height: 0.8;
  }
}
